.contactForm {
  background-color: #fff;
  border-radius: 10px;
  padding:10px;
  margin: auto ;
  width: auto;
  max-width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.contactForm h2 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.group {
  position: relative;
  padding: 0;
}

.group label {
  font-size: 14px;
  color: rgb(99, 102, 102);
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.group input,
.group textarea {
  padding: 10px 0px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  outline: 0;
  width: 100%;
  background-color: transparent;
}

.group input:placeholder-shown + label, 
.group textarea:placeholder-shown + label {
  top: 10px;
  background-color: transparent;
}

.group input:focus,
.group textarea:focus {
  border-color: #3366cc;
}

.group input:focus + label, 
.group textarea:focus + label {
  top: -10px;
  left: 10px;
  background-color: #fff;
  color: #3366cc;
  font-weight: 600;
  font-size: 14px;
}

.group textarea {
  resize: none;
  height: 100px;
}

.button {
  background-color: #3366cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #27408b;
}

.errorInput {
  border-color: red;
}

.errorMessage {
  color: red;
  margin-top: -10px;
  margin-bottom: 10px;
}

.successMessage {
  color: green;
  margin-top: 10px;
}
